[Unit]
Description=Telegram bot 'autoanswering'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/www/html/core
ExecStart=/usr/bin/python3.10 /var/www/html/core/autoanswering.py
RestartSec=10
Restart=always


[Install]
WantedBy=multi-user.target