[Unit]
Description=Telegram bot 'main Bot'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
Environment="PYTHONPATH=/var/www/html/core"
WorkingDirectory=/var/www/html/core
ExecStart=/usr/bin/python3.10 /var/www/html/core/bot_interact.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target