[Unit]
Description=Telegram bot 'post_to_chats'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/www/html/core
ExecStart=/usr/bin/python3.10 /var/www/html/core/async_post_to_chats.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target